
.clearfix{      /* limpia los flotados que hay a partir de ahì  */
    clear: both;
    float: none;
}


/*CONTENIDO*/
#container{
    width: 85%;
    height: auto;
/*  min-height: 600px;*/
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /*border: 1px solid black; */  
}

/*CONTENEDOR PRINCIPAL*/
#principal{
    float: left;
    width: 75%;
    min-height: 400px;
    background:white;
    border-radius: 5px;  /* Redondea las puntas del contenedor*/
    box-shadow: 0px 0px 5px #ccc;
    margin-left: 1px;
    padding: 20px;
    overflow: hidden;
}

#principal a{
    color: #333;
}

#principal h1{
    text-align: center;
    font-size: 32px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: "fajala";
    margin-bottom: 20px;
}

#principal h2{
    font-size: 25px;
    text-align: left;
    color: #2979CD;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    font-family: "fajala";
    margin-top: 25px;
    margin-left: 10px 
}

#principal h3{
    font-size: 25px;
    color: #444;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    font-family: "fajala";
    margin-top: 25px;
    margin-left: 10px ;
    text-align: center;
}



#principal p{
    margin-top: 8px;
    margin-left: 10px;
    text-align: justify;
}

#copyright{
    text-align: right !important;
    color: #444;
}

#principal img{
    float:left;
    width: 280px;
    height: 280px;
    padding: 0px;
    margin: 18px;
}

body{
    background: url(../images/cubes.png) #F4F4F4;
}

span.asterisco { color:#FF0000}

#time{
    margin: 0px;
    padding-right: 1px;
    height: 38px;
    width: 100%;
}

input[type="button"],
input[type="submit"],
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    color:white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor:pointer;
    padding: 7px;
}

.boton{
    color:white !important;
    text-align: center;
    width: 130px;
}

.boton-verde{
    background: #21b921 !important;
    border-color: green;
    margin-left: 40%;
   
}

